.studyroom-availability-search-date #edit-search-date label {
  display: none;
}

.studyroom-availability-search-date .container-inline-date .date-padding {
  padding: 0px;
}

.studyroom-space-calendar {
  width: 100%;
}

/**
 * Navigation
 */
.studyroom-space-calendar .navigation {
  margin: 5px 0;
  text-align: center;
}
.studyroom-space-calendar .navigation .prev-url {
  margin-left: 5px;
  float: left;
}
.studyroom-space-calendar .navigation .current-url {
  margin-left: auto;
  margin-right: auto;
}
.studyroom-space-calendar .navigation .next-url {
  float: right;
  margin-right: 5px;
}


/**
 * calendar calendar table styles
 */
.studyroom-space-calendar table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  clear: both;
}
.studyroom-space-calendar tr {
  padding: 0;
  margin: 0;
  background-color: white;
}
.studyroom-space-calendar th {
  color: #fff;
  border: 1px solid #bfbea3;
  background-color: #bfbea3;
  text-align: center;
  margin: 0;
}

.studyroom-space-calendar td {
  border: 1px solid #bfbea3;
  color: #4e4e40;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.studyroom-space-calendar td a {
  text-decoration: none;
}
.studyroom-space-calendar td a:hover,
.studyroom-space-calendar td a:active {
  text-decoration: underline;
}

/* Time column */
.studyroom-space-calendar td.time {
  font-family: serif;
  text-align: right;
  border: none;
  border-top: 1px #333 dotted;
  padding-top: .25em;
  padding-right: 5px;
  width: 1%;
  min-width: 1%;
}
.studyroom-space-calendar td.time .calendar-hour {
  font-size: 1.2em;
  font-weight: bold;
}
.studyroom-space-calendar td.time .calendar-ampm {
  font-size: 1em;
  padding-left: 2px;
}

/* Day column */
.studyroom-space-calendar th.day,
.studyroom-space-calendar th.space {
  color: #fff;
  background-color: #660066;
  border: solid 1px #660066;
  text-align: center;
  padding: 1px;
  margin: 0;
  font-weight: bold;
}
.studyroom-space-calendar th.day .weekday {
  padding-right: 3px;
}
.studyroom-space-calendar td.day {
  margin: 0;
  width: 1.5em;
  text-align: center;
  padding: 0.125em 0.25em 0 0.25em;
}

.studyroom-space-calendar td.reserved {
  background-color: #e2a856;
  color: #fff;
}
.studyroom-space-calendar td.closed {
  background-color: #bfbea3;
  color: 4e4e40;
}
.studyroom-space-calendar th.today {
  background-color: #944d94;
  border-color: #944d94;
}
.studyroom-space-calendar td.today {
  color: #fff;
  background-color: #c7a9d0;
}
.studyroom-space-calendar td.today.closed {
  background-color: #4e4e40;
}
